.NavBar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
}

.Logo {
  margin-left: 2rem;
  width: 40%;
  font-size: 1.8rem;
  font-weight: 400;
  justify-self: flex-start;
  color: #543c8b;
}

.items {
  width: 60%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 1.4rem;
}

.items li {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.items li:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.4s all ease;
}
