.card {
  margin: 1.5rem 0rem;
  width: 15rem;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.07rem solid #543c8b;
  border-radius: 2rem;
}

.card .titulo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card .descripcion {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
